@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 400;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 600;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 700;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 800;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Ultrabold.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 900;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Black.woff2") format("woff2");
}

@layer base {
  html {
    font-family: "RF Dewi Extended", system-ui, sans-serif;
  }
}

@layer components {
  .header-container {
    width: 100%;
    max-width: 1820px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .base-container {
    width: 100%;
    max-width: 1314px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .small-container {
    width: 100%;
    max-width: 1122px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .reviews-container {
    padding-left: max(calc((100% - 1314px) / 2), 15px);
  }

  .FAQ-container {
    width: 100%;
    max-width: 1090px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .btn-primary {
    @apply rounded bg-gradient-to-r from-primary-100 via-primary-200 to-primary-100 px-6 py-4 font-extrabold text-text-100;
  }

  .heading-1 {
    @apply text-5xl font-extrabold leading-10 text-text-400;
  }

  .heading-2 {
    @apply text-4xl font-semibold text-text-400;
  }

  .heading-3 {
    @apply text-[30px] font-bold leading-[36px] text-text-400;
  }

  .heading-4 {
    @apply text-[19px] font-bold leading-[23px] text-text-400;
  }

  .heading-5 {
    @apply text-[16px] font-bold leading-5 text-text-400;
  }

  .heading-6 {
    @apply text-[15px] font-bold leading-5 text-text-400;
  }

  .sub-heading-1 {
    @apply text-[19px] font-semibold leading-7 text-text-300;
  }

  .sub-heading-2 {
    @apply text-[18px] leading-7 text-text-300;
  }

  .sub-heading-3 {
    @apply text-[16px] leading-6 text-text-300;
  }

  .sub-heading-4 {
    @apply text-[14px] leading-5 text-text-300;
  }
}
