@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 400;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 600;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 700;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 800;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Ultrabold.woff2") format("woff2");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 900;
  src: local("RF Dewi Extended"),
    url("assets/fonts/RFDewiExtended-Black.woff2") format("woff2");
}

@layer base {
  html {
    font-family: "RF Dewi Extended", system-ui, sans-serif;
  }
}

@layer components {
  .header-container {
    width: 100%;
    max-width: 1585px;
    margin-left: calc((100% - 1314px) / 2);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .base-container {
    width: 100%;
    max-width: 1314px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .small-container {
    width: 100%;
    max-width: 1122px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .feedback-container {
    padding-left: 1rem;
    margin-left: calc((100% - 1314px) / 2);
  }
}

.swiper-pagination {
  left: 0 !important;
  right: 6px !important;
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: #000000;
  opacity: 1;
}

.swiper-pagination-bullet:not(:last-child) {
  margin: 0 !important;
  margin-bottom: 30px !important;
}

.swiper-pagination-bullet-active {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border: 2px solid #000000;
}

.feedback-swiper {
  margin-left: 114px;
}

.swiper-nav-btn {
  color: #f2821d;
}

.swiper-nav-btn.swiper-button-disabled {
  color: #e7e6ec;
}
